#ticker_font, .latest-price-font {
    font-size: 38px;
}
  
#description-font, .change-font {
  font-size: 25px;
}
  
path.neg {
  color: rgb(255, 0, 0);
}

path.pos {
  color: rgb(0, 255, 30);
}
  
path.star-fill-icon {
  color: rgb(248, 199, 0);
}
  
.article-font {
  line-height: 20px;
  font-weight: 300;
  font-size: 13px;
}

#buy-btn {
  outline: none;
  box-shadow: none;
}