<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/stock/modules/data.js"></script>
<script src="https://code.highcharts.com/stock/modules/drag-panes.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
<script src="https://code.highcharts.com/stock/indicators/indicators.js"></script>
<script src="https://code.highcharts.com/stock/indicators/volume-by-price.js"></script>

<mat-spinner
  *ngIf="
    (!description || !latestPrice || !news || !lastDayHistory || !lastDayChartDone || !historyChartDone || !peers || !recChartDone)
    && tickerExist
  "
  class="mt-4 mx-auto"  
></mat-spinner>

<div
  *ngIf="description && description.ticker && peers  && lastDayChartDone && historyChartDone && news && recChartDone "
  class="container mt-5 mb-auto"
>

  <ngb-alert *ngIf="buyMessage" type="success" class="text-center" (close)="buyMessage = ''">
    {{ ticker | uppercase }} bought successfully!
  </ngb-alert>

  <ngb-alert *ngIf="starMessage && inWatchlist" type="success" class="text-center" (close)="starMessage = ''">
    {{ ticker | uppercase }} added to Watchlist.
  </ngb-alert>

  <ngb-alert *ngIf="starMessage && !inWatchlist" type="danger" class="text-center" (close)="starMessage = ''">
    {{ ticker | uppercase }} removed from Watchlist.
  </ngb-alert>

  <!-- 
    MoveTo: M, m
    LineTo: L, l, H, h, V, v
    Cubic Bézier Curve: C, c, S, s
    Quadratic Bézier Curve: Q, q, T, t
    Elliptical Arc Curve: A, a
    ClosePath: Z, z
  -->
  <div class="detail-header">
    <div class="row">
      <div class="col">
        <h1 class="m-0 p-0 d-flex flex-row" id="ticker_font">
          {{ description.ticker }}
          <div class="m-0 p-0 d-inline-flex" (click)="watchlist_stock()">
            <svg *ngIf="inWatchlist" xmlns="http://www.w3.org/2000/svg" width="0.5em" height="0.5em" fill="#FFC300" class="bi bi-star-fill mx-1 my-0" viewBox="0 0 16 16">
              <path class="star-fill-icon" d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
            </svg>
            <svg *ngIf="!inWatchlist" xmlns="http://www.w3.org/2000/svg" width="0.5em" height="0.5em" fill="currentColor" class="bi bi-star mx-1 my-0" viewBox="0 0 16 16">
              <path class="star-icon" fill-rule="evenodd" d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
            </svg>
          </div>
        </h1>

        <h3 class="m-0 p-0 text-black-50 d-flex flex-row" id="description-font">{{ description.name }}</h3>

        <h4 class="m-0 p-0 font-weight-light d-flex flex-row">{{ description.exchangeCode }}</h4>

        <button
          class="btn btn-primary m-0 p-1 px-2 bg-success border-0"
          id="buy-btn"
          (click)="openBuyModal(description.ticker,description.name,latestPrice.c,'Buy')"
        >
          Buy
        </button>
      </div>

      <div class="col">
        <script type="text/javascript">
          document.getElementById("logoimg").src = description.logo;
        </script>
        <img src="" id="logoimg" alt="logo">
        
      </div>
      

      <div class="col">
        <h1 class="m-0 p-0 d-flex flex-row-reverse latest-price-font" [class.text-success]="change > 0" [class.text-danger]="change < 0" >
            {{ latestPrice.c }}
        </h1>

        <div class="row mr-1 flex-row justify-content-end">
          <div class="row m-0 p-0 d-flex flex-row-reverse">
            <svg *ngIf="change > 0" xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" fill="green" class="bi bi-caret-up-fill d-flex flex-row-reverse" viewBox="0 0 16 16">
              <path class="pos d-flex flex-row-reverse" d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
            </svg>

            <svg *ngIf="change < 0" xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" fill="red" class="bi bi-caret-down-fill d-flex flex-row-reverse" viewBox="0 0 16 16">
              <path class="neg d-flex flex-row-reverse" d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
            </svg>
            <h2 class="m-0 p-0 d-flex flex-row-reverse change-font" [class.text-success]="change > 0" [class.text-danger]="change < 0">
              {{ change | number: "1.2-2" }}
            </h2>
            <h2 class="m-0 p-0 d-flex flex-row-reverse change-font" [class.text-success]="change > 0" [class.text-danger]="change < 0">
              ({{ changePercent | number: "1.2-2" }}%)
            </h2>
          </div>
        </div>

        <h4 class="m-0 p-0 font-weight-light d-flex flex-row-reverse">
          {{ currentTime | date: "yyyy-MM-dd H:mm:ss" }}
        </h4>
      </div>
    </div>

    <div class="row">
      <div *ngIf="marketStatus" class="alert alert-success border-0 p-0 d-inline-flex justify-content-center mx-auto" role="alert">
        Market is Open
      </div>

      <div *ngIf="!marketStatus" class="alert alert-danger border-0 p-0 d-inline-flex justify-content-center mx-auto" role="alert">
        Market Closed on {{ lasttimestamp | date: "yyyy-MM-dd H:mm:ss" }}
      </div>
    </div>
  </div>


  <mat-tab-group mat-stretch-tabs>
    <!-- Summary -->
    <mat-tab label="Summary">
      <div class="container" id="summary-content">
        <div class="row flex-row mt-4">
          <div class="col-sm">
            <div class="row ml-1">
              <div class="col p-0">
                <p class="m-0">High Price:&nbsp; {{ latestPrice.h }}</p>
                <p class="m-0">Low Price:&nbsp;&nbsp; {{ latestPrice.l }}</p>
                <p class="m-0">Open Price: {{ latestPrice.o }}</p>
                <p class="m-0">Prev. Close: {{ latestPrice.pc }}</p>
              </div>
            </div>

            <div class="row mt-5">
              <h2 class="row mt-1 mx-auto">About the Company</h2>
            </div>
            <p class="row">IPO Start Date: {{ description.ipo }}</p>
            <p class="row">Industry: {{ description.finnhubIndustry }}</p>
            <p class="row">Webpage: 
              <a href = '' (click)="goToURL(description.weburl)">
                {{ description.weburl }}
              </a>
            </p>
            <p class="row">Company peers: </p>
              
            <div *ngFor="let peer of peers" class="d-flex flex-row">
              <a (click)="goToPeer(peer)" class="d-flex flex-row">
                {{peer}} 
              </a>
            </div>
            
          </div>

          <div class="col-md-auto">
            <ng-container *ngIf="chartOptionsLastDay">
              <highcharts-chart 
              *ngIf="isHighcharts"
              [Highcharts]="Highcharts"
              [options]="chartOptionsLastDay"
              style="width: 100%; height: 400px; display: block"
              ></highcharts-chart>
            </ng-container>
            
          </div>
        </div>
      </div>
    </mat-tab>

    <!-- News -->
    <mat-tab label="Top News">
      <div class="container" id="news-content">
        <div class="row p-1" *ngIf="news">
          <div *ngFor="let newsArticle of news" class="card col-sm-5 m-2 bg-light mx-auto p-0" style="min-width: 48%; max-height: 280px">
            <div (click)="openNewsModal(newsArticle)" class="card-body row" >
              <div class="col-md-2 m-0 p-0 my-auto">
                <img class="card-img m-0 my-auto" src="{{newsArticle.url}}"/>
              </div>
              <div class="col">
                <h3 class="article-font text-black-50">{{newsArticle.headline}}</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>

    <!-- Charts -->
    <mat-tab label="Charts">
      <ng-container *ngIf="chartOptionsHistory">
        <highcharts-chart
          class="col-sm"
          *ngIf="isHighcharts"
          [Highcharts]="Highcharts"
          [options]="chartOptionsHistory"
          style="width: 100%; height: 700px; display: block"
        ></highcharts-chart>
      </ng-container>
    </mat-tab>
    <!-- Insights  -->
    <mat-tab label="Insights">
      <div class="container" >
        <div class="row flex-row mt-4" >
          <table class="p-3 table">
            <thead>
              <tr>
                <th scope="col">ticker</th>
                <th scope="col">Reddit</th>
                <th scope="col">Twitter</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Total Mentions</th>
                <td>{{redditTotal}}</td>
                <td>{{twitterTotal}}</td>
              </tr>
              <tr>
                <th scope="row">Positive Mentions</th>
                <td>{{redditPos}}</td>
                <td>{{twitterPos}}</td>
              </tr>
              <tr>
                <th scope="row">Negative Mentions</th>
                <td>{{redditNeg}}</td>
                <td>{{twitterNeg}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row flex-row mt-4" >
          <div class="col-md-auto " >
            <ng-container *ngIf="chartOptionsReccomendations">
              <highcharts-chart
                *ngIf="isHighcharts"
                [Highcharts]="Highcharts"
                [options]="chartOptionsReccomendations"
                style="width: 100%; height: 700px; display: block"
              ></highcharts-chart>
            </ng-container>
          </div>
          <div class="col-md-auto " >
            <ng-container *ngIf="chartOptionsSurprises">
              <highcharts-chart
                *ngIf="isHighcharts"
                [Highcharts]="Highcharts"
                [options]="chartOptionsSurprises"
                style="width: 100%; height: 700px; display: block"
              ></highcharts-chart>
            </ng-container>
          </div>
          
        </div>
        
      </div>
      
    </mat-tab>
  </mat-tab-group>
</div>

<!-- if ticker does not exist, show message -->
<div *ngIf="description && !tickerExist" class="container mt-5">
  <div class="alert alert-danger text-center text-dark" role="alert">
    No results found. Please enter valid Ticker
  </div>
</div>
