h1.my-portfolio-font {
    font-size: 40px;
    font-weight: 500;
    line-height: 45px;
}
div.item-footer button {
  outline: none;
  box-shadow: none;
}

path.pos {
  color: rgb(16, 218, 40);
}
  
path.neg {
  color: rgb(235, 11, 11);
}
  
div.row div.col div.col-sm{
  font-size: 15px;
}

.item-text  {
  font-size: 15px;
}