path {
    fill: rgb(22, 71, 232);
}

h1 {
    font-size: 55px;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.3;
}

#search-header-font {
    margin-top: 90px;
    margin-bottom: 60px;
}

#group-searchbox {
    border: 2px solid rgb(22, 71, 232);
    height: 100%;
}

div button {
    outline: none;
    box-shadow: none;
}

input[type="text"] {
    font-size: 13px;
    height: 18px;
    outline: none;
    box-shadow: none;
}

form {
    width: 200px;
    height: 35px;
}



