<div class="col-sm text-center" id="search-header-font">
    <h1>STOCK SEARCH</h1>
</div>

<form class="mx-auto" [formGroup]="search_box" (ngSubmit)="onSubmit(search_box.value)">
  <div class="input-group align-baseline rounded rounded-pill pl-3" id="group-searchbox">
    <input matinput type="text" formControlName="tickerInput" placeholder="Enter stock name" aria-describedby="button-addon1" class="form-control border-0 m-0 p-0" [matAutocomplete]="auto"/>
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="display">
      <mat-option *ngIf="isLoading" class="is-loading"><mat-spinner diameter="50"></mat-spinner></mat-option>
      <ng-container *ngIf="!isLoading">
        <mat-option *ngFor="let company of companies" [value]="company">
          <span>{{ company.symbol }}</span>
          <small> | {{company.description}}</small>
        </mat-option>
      </ng-container>
    </mat-autocomplete>

    <div class="input-group-append mx-2 border-0 p-0">
      <button id="button-addon1" type="submit" class="btn btn-link text-primary m-0 border-0 p-0">

        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-search text-success" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
        </svg>

        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
          <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
        </svg>
      </button>
    </div>
  </div>
</form>
