h1 {
  font-size: 38px;
  font-weight: 400;
}
  
div.modal-body h2 {
  line-height: 23px;
}
  
div.modal-title button {
  outline: none;
}

.twitter_button{
  color: #44aaf8;
  outline: none;
  box-shadow: none;
}